*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:rgb(201, 200, 200);
    font-family: cursive;
    position: relative;
    padding-bottom: 3rem;
    min-height: 100vh;
}

.menu{
    width: 95%;
    margin: 0 auto;
}

.hotel{
    width: 120px;
    height: 90px;
    float: left;
    padding: 8px;
}

#header{
    background: rgb(55, 55, 177);
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

#nav{
    float: right;
}

#nav ul li{
    list-style: none;
    margin-left: 40px;
    padding: 30px 0px;
    float: left;
}

#nav ul li a{
    text-decoration: none;
    font-size: larger;
    color: black;
    font-weight: bold;
}

#nav ul li span{
    font-weight: bold;
    font-size: larger;
    color: black;
}

#nav ul li a:hover{
    color: chartreuse;
}

#footer{
    background: rgb(55, 55, 177);
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer span{
    font-weight: bold;
}